<!doctype html>
<html lang="en" ng-app>
    <head>
        <meta charset="utf-8">
        <title>Speiseplan</title>
        <link rel="stylesheet" type="text/css" href="./css/portal.css"/>
        <link rel="stylesheet" type="text/css" href="./css/canteen.css"/>
        <link rel="stylesheet" type="text/css" href="./css/jquery-ui-1.10.3.custom.css"/>
        <script src="lib/angular/angular.js"></script>
        <script type="text/javascript" src="lib/jquery/jquery.js"></script>
        <script type="text/javascript" src="lib/jquery/jquery-ui.js"></script>
        <script type="text/javascript" src="lib/datejs/date.js"></script>
        <script src="js/controllers.js"></script>
    </head>
    <body ng-controller="CurrentMenuCtrl">
        <noscript class="error-message">Lebst du hinter dem Mond oder warum hast du kein JavaScript?</noscript>
        <div id="white-area">
            <nav id="main-menu" class="clearfix">
            </nav>
            <header id="main">
                <div id="company">
                    <div>VaWi Factory</div>
                </div>
            </header>
            <div id="app-container">
                <div id="error" class="ui-state-error" style="display:none">
                    <p>
                        <span class="ui-icon ui-icon-alert alert-icon" ></span>
                        <strong>Fehler: </strong>
                        <span id="error-message"></span>
                    </p>
                </div>

                <h1>Speiseplan für Woche {{menu.calendarWeek.week}} / {{menu.calendarWeek.year}}</h1>
                <table class="menu">
                    <thead>
                        <tr>
                            <th ng-repeat="day in weekdays">{{day}}</th>
                        </tr>
                    </thead>
                    <tbody class="offers">
                        <tr ng-repeat="row in menu.menuRows">
                            <td ng-repeat="dailyOffer in row.offers">{{dailyOffer.dish.name}}</td>
                        </tr>
                    </tbody>
                </table>
                <div id="buttons">
                    <button ng-click="createMenu()">Speiseplan erstellen</button>
                </div>
            </div>
            <footer id="copyright">Projektarbeit "Automatisierte Tests in agilen Softwareprojekten erklärt an einem Beispiel" von Tobias Tatsch</footer>
    </body>
</html>
